<!--Main Navigation-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!-- shadow -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 
<!-- button -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<header>
    
  
    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

        <div class="backg1">
           <img src="../../assets/Header-3x.png" width="255" height="133"/>
           
        </div>
        <div class="list-group list-group-flush">
            <a routerLink="dashboards/v1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect first-item-l">
                Checklist Results
            </a>
        <br>
        <br>
            <a routerLink="dashboards/v1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect first-item-l">
                Checklist Management
            </a>
            <a routerLink="profiles/profile1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                User Account Management</a>
            <a routerLink="tables/table1" routerLinkActive="active" class="list-group-item pro-manager list-group-item-action waves-effect">
               Project Management</a>
            <a routerLink="maps/map1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect last-item-l">
               Crew Management</a>
        
        <a routerLink="maps/map1"  class="list-group-sett">Setting</a> 
        </div>
        
            <button type="button" class="btn2 btn-success">Logout</button>
    </div>
    <!-- Sidebar -->


</header>
<!--Main Navigation-->

<!-- content Side -->


    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Dashboard</h4> </div>
                <div class="container">
                    <table class="header">
                        <tr>
                            <td class="first-td">
                                <h2 class="headline-h">Checklist Results</h2>  
                            </td>
                            <td class="second-td">
                                <!-- <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
                                    <input type="text" placeholder="Search Checklist" class="form-control"> 
                                </form> -->

                                <div class="form-group has-search">
                                    <span class="spanIcon">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                      </span>
                                    <input type="text" class="form-control" placeholder="Search users">
                                  </div>
                            </td>
                            <td class="third-td">
                                <button class="btn-add"><i class="fa fa-plus"></i> Add New Project</button>
                            </td>
                        </tr>
                    </table>
                   
                   
                    <br>         
                    <table class="table table-striped shadow-sm p-3 mb-5 bg-white rounded">
                      <thead>
                        <tr style="color: rgba(104, 104, 104, 1);">
                          <th>PROJECT STATUS</th>
                          <th>PROJECT NAME</th>
                          <th>DATE CREATED</th>
                          <th>LAST MODIFIED</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td style="color: #00a651;">Published</td>
                          <td>Fahud Deep 3D</td>
                          <td>22/11/2010</td>
                          <td>22/11/2018</td>
                          <td class="edit">Edit</td>
                          <td class="delete">Delete</td>
                        </tr>
                        <tr class="hiddenRow">
                            <td>Hidden</td>
                            <td>Fahud Deep 3D</td>
                            <td>22/11/2010</td>
                            <td>22/11/2018</td>
                            <td class="edit">Edit</td>
                            <td class="delete">Delete</td>
                        </tr>
                        <tr>
                            <td></td> 
                        </tr>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                       <br>
                        <br>
                        <br>
                        <tr> 
                            <td></td>
                        </tr>
                      
                      </tbody>
                    </table>
                    
                  </div>
            <!-- /.col-lg-12 -->
            <div class="card-body">
                <nav>
                    <ul class="pagination d-flex justify-content-center flex-wrap pagination-rounded-flat pagination-success">
                        <li class="page-item"><a class="page-link" href="#" data-abc="true"><i class="fa fa-angle-left"></i></a></li>
                         <li class="page-item"><a class="page-link" href="#" data-abc="true"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>
            <div class="backgd">
                <img src="../../assets/Background_Pattern-3x.png" width="350" height="100"/>
               </div>
        </div>
       
        </div>
     
