<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>



    <div class="main">
      <div class="sidenav">
               <div class="login-main-text">
                 <div class="logoImg">
                 <img  src="../assets/fl.png" width="70" height="70"/>
                </div> 
                <div class="compName">
                 <h2 align="center"> <b>شركة تنمية نفط عمان</b></h2>
                  <h2><b>Petroleum Development Oman</b></h2>
                </div>
                <br>
                <br>
                <br>
                <h2 class="health" align="center">Health, Safety and Environment</h2>
                <h1 class="health" align="center">Admin Dashboard</h1>
                </div>
            </div>
           
               <div class="col-md-6 col-sm-12">
                  <div class="login-form shadow-lg p-4 mb-4 bg-white">
                     <form>
                       <h1 class="loginLog" style="color: #00a651;">Login</h1>
                        <div class="form-group ">
                          
                           <input type="text" class="form-control custom" placeholder="Email">
                        </div>
                        <div class="form-group">
                         <span class="spanIcon">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </span>
                           <input type="password" class="form-control custom" placeholder="Password">
                           
                        </div>
                        <br>
                        <br>
                        <button type="submit" class="btn btn-black">Login</button>
                        <br>
                        <br>
                        <h4 class="ForgotPass" style="color: rgba(0, 0, 0, 0.38); font-size: 8pt;">Forgot Password?</h4>
                     </form>
                  </div>
                  
               </div>
            </div>
